[Desktop Entry]
Type=Application
Name=Planetary
Comment=Qt Transmission remote client
Exec=Planetary %U
Icon=planetary
Categories=Network;FileTransfer;P2P;Qt;
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Terminal=false
StartupNotify=true
