[Desktop Entry]
Type=Application
Name=Planetary
Comment=Transmission remote client
Exec=/home/vmark/.local/bin/Planetary %U
Icon=planetary
Terminal=false
Categories=Network;FileTransfer;P2P;Qt;
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
StartupNotify=true
